

.block{
    background-color: bisque;
    border: 20px solid gray;
    padding:20px;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    
}
.Static{
    position: static;
    border: 3px solid black; 
    top: 400px; 
    left: 500px;
    
}

.Relative{
    position: relative;
    border: 3px solid black; 
    top: 400px; 
    left: 500px;
    width: 400px;
    height: 400px;
}

.fidex{
    position: fidex;
    border: 3px solid black; 
    top: 150px; 
    left: 50px;
    width: 100px;
    height: 100px;
}
.absolute{
    position: absolute;
    border: 3px solid black; 
    top: 80px; 
    left: 50px;
    width: 100px;
    height: 100px;
}